<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92460733040-lpesaum7hjpo3ppofqtc18kvka4v3plj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92460733040-lpesaum7hjpo3ppofqtc18kvka4v3plj</string>
	<key>API_KEY</key>
	<string>AIzaSyDt2CD-k3qBS5mrGyXr_2-hLX1pr6ufKb4</string>
	<key>GCM_SENDER_ID</key>
	<string>92460733040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudfirebase</string>
	<key>PROJECT_ID</key>
	<string>faizan-f7b0b</string>
	<key>STORAGE_BUCKET</key>
	<string>faizan-f7b0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92460733040:ios:c683e03008643e22929ab5</string>
</dict>
</plist>